<ion-router-outlet></ion-router-outlet>

<div class="bottom-nav-container">
    <div class="custom-tab-bar">
        <div class="tab-item" routerLink="/home" routerLinkActive="active-link">
            <ion-icon name="home"></ion-icon>
        </div>
        <div class="tab-item" routerLink="/favorites" routerLinkActive="active-link">
            <ion-icon name="heart-outline"></ion-icon>
        </div>

        <div class="floating-fab" routerLink="/cart">
            <div class="fab-circle">
                <ion-icon name="bag-handle-outline"></ion-icon>
            </div>
        </div>

        <div class="tab-item" routerLink="/notifications" routerLinkActive="active-link">
            <ion-icon name="notifications-outline"></ion-icon>
        </div>
        <div class="tab-item" routerLink="/profile" routerLinkActive="active-link">
            <ion-icon name="person-outline"></ion-icon>
        </div>
    </div>
</div>